@model IEnumerable<Rental4You.Models.Empresa>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Empresas</h1>

<p>
	<a asp-action="Create" class="btn btn-primary btn-sm">Adicionar Empresa</a>
</p>

<div class="row">
	<form method="get" class="container">
		Nome:
		<input type="text" id="TextoAPesquisar" name="TextoAPesquisar" value="@ViewBag.TextoPesquisa">

		<label>Localidade:</label>
		<select name="Localidade" asp-items="@ViewBag.FiltroLocalidade" class="form-group"></select>

		<label>Subscrição:</label>
		<select name="Subscricao" asp-items="@ViewBag.FiltroSubscricao"></select>

		<label>Ordenar Por:</label>
		<select name="sortOrder" asp-items="@ViewBag.FiltroOrdenacao"></select>

		<input class="btn btn-success btn-sm" type="submit" value="Pesquisar" />
		<a class="btn btn-secondary btn-sm" asp-action="Index" asp-controller="Empresas">Limpar Filtros</a>
	</form>
</div>

<table class="table table-striped table-hover table-bordered table-sm mt-4">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nome)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Localidade)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Activo)
			</th>
			<th>
				Ações
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Localidade)
				</td>
				<td>
					@if (item.Activo == true)
					{
						@ViewBag.FiltroSubscricao[1].Text
					}
					else
					{
						@ViewBag.FiltroSubscricao[2].Text
					}
				</td>
				<td>
					<a class="btn btn-warning btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
					<label>|</label>
					<a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
					@if (item.Veiculos == null || item.Veiculos.Count() == 0)
					{
						<label>|</label>
						<a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Remover</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
