@model Rental4You.Models.Reserva

@{
    ViewData["Title"] = "Details";
}

<h1>Reserva</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Marca do Veiculo
        </dt>
        <dd class="col-sm-10">
            @Model.Veiculo.Marca
        </dd>
        <dt class="col-sm-2">
            Modelo do Veiculo
        </dt>
        <dd class="col-sm-10">
            @Model.Veiculo.Modelo
        </dd>
        <dt class="col-sm-2">
            Matricula do Veiculo
        </dt>
        <dd class="col-sm-10">
            @Model.Veiculo.Matricula
        </dd>
        <dt class="col-sm-2">
            Estado da Reserva:
        </dt>
        <dd class="col-sm-10">
            @Reserva.translate(Model.Estado)
        </dd>
        <dt class="col-sm-2">
            Data de Levantamento:
        </dt>
        <dd class="col-sm-10">
            @Model.DataLevantamento
        </dd>
        <dt class="col-sm-2">
            Data de Entrega:
        </dt>
        <dd class="col-sm-10">
            @Model.DataEntrega
        </dd>
        <dt class="col-sm-2">
            Concluido
        </dt>
        <dd class="col-sm-10">
            <input asp-for="Concluido" readonly="readonly" disabled />
        </dd>


        @if (User.IsInRole("Cliente") && Model != null) //Se for cliente e se o id for ele
        {
            <form asp-action="Create" asp-controller="Avaliacoes">
                <input type="hidden" name="ReservaId" value="@Model.ReservaId" />
                <input type="hidden" name="EmpresaId" value="@Model.Veiculo.EmpresaId" />

                @if (Model.EntregaId == null)
                {
                <dd class="col-sm-10">Só pode submeter uma avalição depois da entrega do Veiculo</dd>

            }
            else if (Model.Avaliacao == null)
            {
                <dt class="col-sm-2">
                    Nota (1 a 10)
                </dt>

                <input name="Nota" asp-for="Avaliacao.Nota" />
                <span asp-validation-for="Avaliacao.Nota" class="text-danger"></span>
                <button type="submit" class="btn btn-primary">Submeter Avaliação</button>
            }

            else
            {
                <dt class="col-sm-2">
                    Nota
                </dt>
                <dd class="col-sm-10">@Model.Avaliacao.Nota</dd>

            }

                </form>
            }
            else
            {
                @if (Model.Avaliacao != null)
                {
                    <div>
                        <label asp-for="Avaliacao.Nota"></label>
                        <input asp-for="Avaliacao.Nota" readonly="readonly" />
                    </div>
 }
                else
                {
                    <div>Esta reserva não possui Avaliação</div>
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-warning btn-sm">Voltar a Lista</a>
    @if(Model != null && Model.LevantamentoId != null){
        <a asp-action="Details" asp-controller="Registos" asp-route-id="@Model.LevantamentoId" class="btn btn-warning btn-sm">Ver Levantamento</a>
    }
    @if(Model != null && Model.EntregaId != null){
        <a asp-action="Details" asp-controller="Registos" asp-route-id="@Model.EntregaId" class="btn btn-warning btn-sm">Ver Entrega</a>
    }
</div>


