@using Rental4You.Models
@model Rental4You.ViewModel.ReservasSearchViewModel

@{
	ViewData["Title"] = "Index";
}

<h1>Reservas</h1>

<form asp-action="Index" method="get">
	<div class="row">
		@if (User.IsInRole("Cliente"))
		{
			<div class="col-2 form-group mb-2">
				<label>Nome da Empresa</label>
				<input type="text" asp-for="NomeEmpresa" name="NomeEmpresa" class="field" />
			</div>
		}
		else
		{
			<div class="col-2 form-group mb-2">
				<label>Nome do Cliente</label>
				<input type="text" asp-for="NomeCliente" name="NomeCliente" class="field" />
			</div>
		}
		<div class="col-2 form-group mb-2">
			<label>Veiculo</label>
			<input type="text" asp-for="Veiculo" name="Veiculo" class="field" />
		</div>
		<div class="col-2 mb-2">
			<label>Data de Levantamento</label>
			<input asp-for="DataLevantamento" name="DataLevantamento" asp-format="{0:yyyy-MM-ddTHH:mm}" class="field" />
		</div>
		<div class="col-2 mb-2">
			<label>Data de Entrega</label>
			<input asp-for="DataEntrega" name="DataEntrega" asp-format="{0:yyyy-MM-ddTHH:mm}" class="field" />
		</div>
	</div>


	<div class="row">
		<div class="col-2 form-group mb-2">
			<label class="col-12">Estado:</label>
			<select name="Estado" asp-items=@ViewBag.Estado class="form-group mb-2 field"></select>
		</div>
		<div class="col-2 form-group mb-2">
			<label class="col-12">Categorias:</label>
			<select name="Categoria" asp-items=@ViewBag.Categorias class="form-group field"></select>
		</div>
		<div class="col-2 form-group mb-2">
			<label>Ordenar por:</label>
			<select name="order" asp-items=@ViewBag.Order class="form-group field"></select>
		</div>
	</div>
	<div class="row">
		<div class="col-2 form-group mb-2">
			<div type="button" id="btnreset" class="btn btn-success field">Limpar Filtros</div>
		</div>
		<div class="col-2 form-group mb-2">
			<button type="submit" class="btn btn-success field">Pesquisar</button>
		</div>
	</div>
</form>



<table class="table">
	<thead>
		<tr>
			<th>
				Nome
			</th>
			@if (User.IsInRole("Cliente"))
			{
				<th>
					Empresa
				</th>
			}
			else
			{
				<th>
					Utilizador
				</th>
			}
			<th>
				Avaliação
			</th>
			<th>
				Data de Levantamento
			</th>
			<th>
				Data de Entrega
			</th>
			<th>
				Estado
			</th>
			<th>
				Concluido
			</th>
			<th>Acções</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.reservas)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Veiculo.Nome)
				</td>
				@if (User.IsInRole("Cliente"))
				{
					<td>
						@Html.DisplayFor(modelItem => item.Veiculo.Empresa.Nome)
					</td>
				}
				@if (!User.IsInRole("Cliente"))
				{
					<td>
						@item.ApplicationUser.PrimeiroNome
					</td>
				}
				@if (item.Avaliacao == null)
				{
					<td>--</td>

				}
				else
				{
					<td>@item.Avaliacao.Nota/10</td>
				}
				<td>
					@Html.DisplayFor(modelItem => item.DataLevantamento)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DataEntrega)
				</td>
				<td>
					@Reserva.translate(item.Estado)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Concluido)
				</td>
				<td>
					<div class="row">
						<div class="col-3">
							<a asp-action="Details" asp-route-id="@item.ReservaId" class="btn btn-success">Details</a>
						</div>
						@if (!User.IsInRole("Cliente"))
						{
							@if (item.Estado == StatusReserva.pending)
							{
								<div class="col-3" style="margin-left: 15px;">
									<form asp-action="ChangeStatus" asp-route-id="@item.ReservaId" method="post">
										<input type="hidden" name="newStatus" value="@StatusReserva.approved" />
										<button type="submit" class="btn btn-success">Aprovar</button>
									</form>
								</div>
								<div class="col-3" style="margin-left: 15px;">
									<form asp-action="ChangeStatus" asp-route-id="@item.ReservaId" method="post">
										<input type="hidden" name="newStatus" value="@StatusReserva.rejected" />
										<button type="submit" class="btn btn-danger">Rejeitar</button>
									</form>
								</div>
							}
							else if (item.Estado == StatusReserva.approved)
							{
								<div class="col-3" style="margin-left: 15px;">
									@if (item.Levantamento == null)
									{
										<a asp-action="Create" asp-controller="Registos" asp-route-idReserva="@item.ReservaId"
						   asp-route-tipo="@RegistoType.LEVANTAMENTO" class="btn btn-warning ml-2">Levantamento</a>
									}
								</div>
							}
							else if (item.Estado == StatusReserva.provided)
							{
								<div class="col-3" style="margin-left: 15px;">
									@if (item.Entrega == null)
									{
										<a asp-action="Create" asp-controller="Registos" asp-route-idReserva="@item.ReservaId"
						   asp-route-tipo="@RegistoType.ENTREGA" class="btn btn-warning ml-2">Entrega</a>
									}
								</div>
							}
						}
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>


<script>

	document.getElementById('btnreset').addEventListener('click', function (event) {
		var fields = document.getElementsByClassName('field')
		for (let f of fields) {
			f.value = ""
		}
	});

</script>