@model Rental4You.Models.Registo

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Registo</h4>
    <hr />
    <div class="row">
        <div class="col-5">
            <dl class="row">
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Data)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Data)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Funcionario)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Funcionario.PrimeiroNome) @Html.DisplayFor(model => model.Funcionario.UltimoNome)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Kms)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Kms)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Danos)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Danos)
                </dd>
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Observacoes)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Observacoes)
                </dd>
            </dl>
        </div>
    
        <div class="col-7">
                @if(ViewBag.NFich > 0)
                {
                    @foreach(var file in ViewBag.Ficheiros)
                    {
                        <div class="row " >
                            <img src="@file" class="img-thumbnail" style="max-width:150px; max-height:150px;border-radius:10px; border:1px dotted #ccc;"/>
                        </div>
                    }
                }
                else
                {
                    <p class="alert text-danger alert-warning"> Ainda não tem imagens associadas</p>
                }

        </div>
    </div>
</div>
<div>
    @*<a asp-action="Edit" class="btn btn-warning btn-sm" asp-route-id="@Model?.Id">Editar</a>*@
    <a asp-action="Index" asp-controller="Reservas" class="btn btn-secondary btn-sm">Voltar a Lista</a>
</div>
